back/*/node_modules/
front/node_modules/

# Ignore Logs
/back/*/logs
/back/*/*.log
/back/*/npm-debug.log*
/back/*/yarn-debug.log*
/back/*/yarn-error.log*
/back/*/lerna-debug.log*
/back/*/.pnpm-debug.log*

# Bower dependency directory (https://bower.io/)
back/*/bower_components

# Optional npm cache directory
back/*/.npm

# Optional eslint cache
back/*/.eslintcache

# Optional stylelint cache
back/*/.stylelintcache

# dotenv environment variable files
back/*/.env
back/*/.env.development.local
back/*/.env.test.local
back/*/.env.production.local
back/*/.env.local
back/.DS_Store

# ignore the dist folder
back/*/dist

front/.idea
front/.DS_Store
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?

.DS_Store